
.document {
    font-family: serif; /* works in browser, but not is vs code extension - vs browser */
    font-size: 105%;
}

*, p {

    font-size: 105%;
}

footer > p {
    margin-left: 25px;
}


/*
    ausi.css :: adjustments for unattended style issues
*/

/* nav gap fix 20px bottom */
article {  
    max-width: 900px; /* remove for full width content blocks */
    margin: 0px auto;
}
