{% extends "base.html" -%}

{% block page_title %} Introduction {%- endblock %}

{%- block content %}
            <article>
                <header>
                <!-- start of article header -->
                    <h1><strong>R3D:/ Introduction Report</strong></h1>
                    <p><em><u>The Recursive Reclamation Resource Department</u></em></p>
                <!--   end of article header -->
                </header>
            </article>
{%- endblock content %}

<!-- <script>console.log('index template loaded.');</script> -->